@import "_animations";

$border-color: #dbdad9;
$darker-border-color: #bfbebd;
$lighter-border-color: #fafbff;
$brand-color: #1CAAFC;
$brand-background-color: rgba($color: #1CAAFC, $alpha: 0.6);
$brand-sub-color: #21DC6D;
$test-color: red;
$index-color: rgba($color: #1a2dd6, $alpha: 0.6);
$error-color: rgba($color: #1593a3, $alpha: 0.6);

@mixin link-effect{
	a{
		&:link{
			color: black;
			text-decoration: none;
		}
		&:visited{
			color: black;
			text-decoration: none;
		}
		&:hover{
			color: $brand-color;
			text-decoration: none;
		}
		&:active{
			color: $brand-color;
			text-decoration: none;
		}
	}
}

@mixin nav-link-animation{
	position: relative;

	span{
		display: inline-block;
		padding: 0.5em 0;

		&::before{
			content: "";
			position: absolute;
			width: 100%;
			height: 0.15em;
			top: 0;
			left: 0;
			background-color: $brand-color;
			visibility: hidden;
			transform: scaleX(0);
			transition: all 0.3s ease-in-out;
		}
	
		&:hover::before {
			visibility: visible;
			transform: scaleX(1);
		}
	}
}

@mixin photo-credit{
	grid-row: 12/13;
	grid-column: 1/13;
	justify-self: flex-end;
	align-self: flex-end;
	padding: 0 1em 1em 0;
}

*{
	box-sizing: border-box;
	font-family: 'Solway', serif;

	*:focus{
		outline: none;
	}
}

.active{
	span{
		color: $brand-color;
		text-decoration: underline;
	}
}

.container{
	/* Extra small devices (phones, 600px and down) */
	/* Small devices (portrait tablets and large phones, 600px and up) */
	/* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (max-width: 992px) {
		grid-column: 2/12;
	}

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
		grid-column: 3/11;
	}
}

.row-fixed{
	grid-template-rows: repeat(11, 50px) auto;
}

.main-div{
    margin: 0;
}

i{
	vertical-align: middle;
	&:hover{
		color: $brand-color;
		cursor: pointer;
	}
}

.nav-text-links{
	&:hover{
		color: $brand-color;
		cursor: pointer;
	}		
}

[data-id]{
	width: 100%;
}

ul{
	margin: 0;
	list-style-type: none;
}