@import "_common";

#error-bg{
    background-image: url("../../../resources/img/errorBg.jpg");

    background-position: center;
    background-size: cover;

    display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(11, 50px) auto;
    grid-row-gap: 10px;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        height: 100%;

        #error-div{
            grid-row: 2/7;
            grid-column: 2/12;
            border: 0.5em solid $error-color;
            padding: 0.5em;
            color: $lighter-border-color;
    
            display: grid;
            grid-template-rows: repeat(5, 1fr);
    
            #ed-top{
                grid-row: 1/2;
                text-align: center;
    
                .error-title{
                    text-align: center;
                }
            }
            #ed-md{
                grid-row: 2/4;
                text-align: center;
                font-size: 1.1em;
                p{
                    margin-top: 0.1em;
                }
            }
            #ed-btm{
                grid-row: 4/6;
                display: flex;
                justify-content: center;
                align-items: center;
    
                #error-button{
                    height: 50%;
                    width: 50%;
                    border-radius: 0.25em;
                    background-color: $error-color;
                    color: white;
                    font-size: 1.2em;
                }
            }
        }
        .photo-credit{
            display: none;
        }        
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) and (max-width: 768px) and (orientation: landscape) {
        #error-div{
            grid-row: 2/7;
            grid-column: 3/11;
            border: 0.5em solid $error-color;
            padding: 0.5em 2em;
            color: $lighter-border-color;
    
            display: grid;
            grid-template-rows: repeat(5, 1fr);
    
            #ed-top{
                grid-row: 1/2;
                text-align: center;
    
                .error-title{
                    text-align: center;
                }
            }
            #ed-md{
                grid-row: 2/4;
                text-align: center;
                font-size: 1.2em;
                p{
                    margin-top: 0.1em;
                }
            }
            #ed-btm{
                grid-row: 4/6;
                display: flex;
                justify-content: center;
                align-items: center;
    
                #error-button{
                    height: 50%;
                    width: 50%;
                    border-radius: 0.25em;
                    background-color: $error-color;
                    color: white;
                    font-size: 1.2em;
                }
            }
        }
        .photo-credit{
            @include photo-credit;
            color: black;
            a{
                &:link{
                    color: black;
                    text-decoration: underline;
                }
                &:visited{
                    color: black;
                    text-decoration: underline;
                }
                &:hover{
                    color: $brand-color;
                    text-decoration: none;
                }
                &:active{
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }        
    }

    /* small window screens */
    @media only screen and (min-width: 600px) and (max-width: 768px) and (orientation: portrait) {
        height: 100vh;

        #error-div{
            grid-row: 2/7;
            grid-column: 3/11;
            border: 0.5em solid $error-color;
            padding: 0.5em 2em;
            color: $lighter-border-color;
    
            display: grid;
            grid-template-rows: repeat(5, 1fr);
    
            #ed-top{
                grid-row: 1/2;
                text-align: center;
    
                .error-title{
                    text-align: center;
                }
            }
            #ed-md{
                grid-row: 2/4;
                text-align: center;
                font-size: 1.2em;
                p{
                    margin-top: 0.1em;
                }
            }
            #ed-btm{
                grid-row: 4/6;
                display: flex;
                justify-content: center;
                align-items: center;
    
                #error-button{
                    height: 50%;
                    width: 50%;
                    border-radius: 0.25em;
                    background-color: $error-color;
                    color: white;
                    font-size: 1.2em;
                }
            }
        }
        .photo-credit{
            @include photo-credit;
            color: black;
            a{
                &:link{
                    color: black;
                    text-decoration: underline;
                }
                &:visited{
                    color: black;
                    text-decoration: underline;
                }
                &:hover{
                    color: $brand-color;
                    text-decoration: none;
                }
                &:active{
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
        #error-div{
            grid-row: 2/7;
            grid-column: 4/10;
            border: 0.5em solid $error-color;
            padding: 0.5em 2em;
            color: $lighter-border-color;
    
            display: grid;
            grid-template-rows: repeat(5, 1fr);
    
            #ed-top{
                grid-row: 1/2;
                text-align: center;
    
                .error-title{
                    text-align: center;
                }
            }
            #ed-md{
                grid-row: 2/4;
                text-align: center;
                font-size: 1.2em;
                p{
                    margin-top: 0.5em;
                }
            }
            #ed-btm{
                grid-row: 4/6;
                display: flex;
                justify-content: center;
                align-items: center;
    
                #error-button{
                    height: 50%;
                    width: 50%;
                    border-radius: 0.25em;
                    background-color: $error-color;
                    color: white;
                    font-size: 1.2em;
                }
            }
        }
        .photo-credit{
            @include photo-credit;
            color: black;
            a{
                &:link{
                    color: black;
                    text-decoration: underline;
                }
                &:visited{
                    color: black;
                    text-decoration: underline;
                }
                &:hover{
                    color: $brand-color;
                    text-decoration: none;
                }
                &:active{
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }
    }

    /* medium window screens */
    @media only screen and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
        height: 100vh;
        
        #error-div{
            grid-row: 2/7;
            grid-column: 4/10;
            border: 0.5em solid $error-color;
            padding: 0.5em 2em;
            color: $lighter-border-color;
    
            display: grid;
            grid-template-rows: repeat(5, 1fr);
    
            #ed-top{
                grid-row: 1/2;
                text-align: center;
    
                .error-title{
                    text-align: center;
                }
            }
            #ed-md{
                grid-row: 2/4;
                text-align: center;
                font-size: 1.2em;
                p{
                    margin-top: 0.5em;
                }
            }
            #ed-btm{
                grid-row: 4/6;
                display: flex;
                justify-content: center;
                align-items: center;
    
                #error-button{
                    height: 50%;
                    width: 50%;
                    border-radius: 0.25em;
                    background-color: $error-color;
                    color: white;
                    font-size: 1.2em;
                }
            }
        }
        .photo-credit{
            @include photo-credit;
            color: black;
            a{
                &:link{
                    color: black;
                    text-decoration: underline;
                }
                &:visited{
                    color: black;
                    text-decoration: underline;
                }
                &:hover{
                    color: $brand-color;
                    text-decoration: none;
                }
                &:active{
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }        
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        height: 100vh;
        
        #error-div{
            grid-row: 2/7;
            grid-column: 4/10;
            border: 0.5em solid $error-color;
            padding: 0.5em 2em;
            color: $lighter-border-color;
    
            display: grid;
            grid-template-rows: repeat(5, 1fr);
    
            #ed-top{
                grid-row: 1/2;
                text-align: center;
    
                .error-title{
                    text-align: center;
                }
            }
            #ed-md{
                grid-row: 2/4;
                text-align: center;
                font-size: 1.2em;
                p{
                    margin-top: 0.5em;
                }
            }
            #ed-btm{
                grid-row: 4/6;
                display: flex;
                justify-content: center;
                align-items: center;
    
                #error-button{
                    height: 50%;
                    width: 50%;
                    border-radius: 0.25em;
                    background-color: $error-color;
                    color: white;
                    font-size: 1.2em;
                }
            }
        }
        .photo-credit{
            @include photo-credit;
            color: black;
            a{
                &:link{
                    color: black;
                    text-decoration: underline;
                }
                &:visited{
                    color: black;
                    text-decoration: underline;
                }
                &:hover{
                    color: $brand-color;
                    text-decoration: none;
                }
                &:active{
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }
    }
}