@import "_error";

#index-bg{
    background-image: url("../../../resources/img/indexBg.jpg");

    background-position: center;
    background-size: cover;

    display: grid;
	grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 10px;

    #index-div {
        #id-md {
            #id-imgs{
                th {
                    width: 50%;
                }
            }
        }
    }

    /* Extra small devices (phones, 600px and down) */
    @media screen and (max-width: 600px) {
        grid-template-rows: repeat(19, 30px) auto;

        #index-social-media{
            grid-column: 2/12;
            grid-row: 20/21;
            align-items: center;
            align-self: flex-end;
            justify-self: center;
            background: rgba($color: #FFFFFF, $alpha: 0.5);
    
            display: grid;
            grid-template-columns: repeat(5, 1fr);
    
            #div-linkedin{
                grid-column: 1/2;
                padding: 0.3em 0.2em 0.2em 0.4em;
    
                img{
                    width: 3em;
                }
            }
            #div-medium{
                grid-column: 2/3;
                justify-self: center;
                align-self: center;
    
                img{
                    height: 2.5em;
                }
            }
            #div-cmdlhz{
                grid-column: 3/4;
                display: flex;
                justify-content: center;
            }
            #div-stackoverflow{
                grid-column: 4/5;
                justify-self: center;
    
                img{
                    width: 2.5em;
                }
            }
            #div-twitter{
                grid-column: 5/6;
                justify-self: center;
    
                img{
                    width: 3.4em;
                }
            }
        }
        #index-div{
            grid-row: 2/19;
            grid-column: 2/12;
            border: 0.5em solid $index-color;
    
            padding: 0.5em 1em 1em 1em;
            display: grid;
            grid-template-rows: 5em 1fr 5em;
    
            #id-top{
                grid-row: 1/2;
                align-self: center;
                font-size: 0.8em;
    
                #index-title{
                    text-align: center;
                    margin: 0;
                }
            }
            #id-md{
                grid-row: 2/3;
                text-align: center;
                font-size: 1em;
    
                display: flex;
                justify-content: center;
    
                #id-imgs{
                    width: 100%;
                    font-size: 0.9em;

                    table {
                        font-size: 0.9em;
                    }
                    .col{
                        padding-bottom: 1em;
                        color: $index-color;
                    }
                    .row{
                        padding-bottom: 0.5em;
                    }
                    td{
                        padding: 0.3em 0.3em 0.3em 1em;
                        text-align: center;
                    }
                }
            }
            #id-btm{
                grid-row: 3/4;
                display: grid;
                grid-template-rows: repeat(2, 1fr);
    
                .index-buttons{
                    height: 80%;
                    width: 90%;
                    justify-self: center;
                    align-self: center;
                    border-radius: 0.25em;
                    background-color: $index-color;
                    color: white;
                    font-size: 1.1em;
                }
            }
        }
        .photo-credit{
            display: none;
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    /* Medium devices (landscape tablets, 768px and up) */
    @media screen and (min-width: 600px) and (max-width: 992px) and (orientation: landscape) {
        grid-template-rows: repeat(11, 50px) auto; 

        #index-social-media{
            grid-column: 4/10;
            grid-row: 1/2;
            align-items: center;
            justify-self: center;
            align-self: flex-end;
            background: rgba($color: #FFFFFF, $alpha: 0.5);
    
            display: grid;
            grid-template-columns: repeat(5, 1fr);
    
            #div-linkedin{
                grid-column: 1/2;
                padding: 0.3em 0.2em 0.2em 0.4em;
    
                img{
                    width: 3em;
                }
            }
            #div-medium{
                grid-column: 2/3;
                justify-self: center;
                align-self: center;
    
                img{
                    height: 2.5em;
                }
            }
            #div-cmdlhz{
                grid-column: 3/4;
                display: flex;
                justify-content: center;
            }
            #div-stackoverflow{
                grid-column: 4/5;
                justify-self: center;
    
                img{
                    width: 2.5em;
                }
            }
            #div-twitter{
                grid-column: 5/6;
                justify-self: center;
    
                img{
                    width: 3.4em;
                }
            }
        }
        #index-div{
            grid-row: 3/11;
            grid-column: 2/12;
            border: 0.5em solid $index-color;
    
            padding: 0.5em 1em 1em 1em;
            display: grid;
            grid-template-rows: 5em 1fr 3em;
    
            #id-top{
                grid-row: 1/2;
                align-self: center;
    
                #index-title{
                    text-align: center;
                    margin: 0;
                }
            }
            #id-md{
                grid-row: 2/3;
                text-align: center;
    
                display: flex;
                justify-content: center;
    
                #id-imgs{
                    width: 100%;
                    font-size: 0.9em;
    
                    .col{
                        padding-bottom: 1em;
                        color: $index-color;
                    }
                    .row{
                        padding-bottom: 0.5em;
                    }
                    td{
                        padding: 0.3em 0.3em 0.3em 1em;
                        text-align: center;
                    }
                }
            }
            #id-btm{
                grid-row: 3/4;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 1em;
    
                .index-buttons{
                    height: 80%;
                    width: 90%;
                    justify-self: center;
                    align-self: center;
                    border-radius: 0.25em;
                    background-color: $index-color;
                    color: white;
                    font-size: 1.1em;
                }
            }
        }
        .photo-credit{
            display: none;
        }
    }

    /* small-to-medium window screens */
    @media screen and (min-width: 600px) and (max-width: 992px) and (orientation: portrait) {
        height: 100vh;
        grid-template-rows: repeat(11, 50px) auto; 

        #index-social-media{
            grid-column: 4/10;
            grid-row: 1/2;
            align-items: center;
            justify-self: center;
            align-self: flex-end;
            background: rgba($color: #FFFFFF, $alpha: 0.5);
    
            display: grid;
            grid-template-columns: repeat(5, 1fr);
    
            #div-linkedin{
                grid-column: 1/2;
                padding: 0.3em 0.2em 0.2em 0.4em;
    
                img{
                    width: 3em;
                }
            }
            #div-medium{
                grid-column: 2/3;
                justify-self: center;
                align-self: center;
    
                img{
                    height: 2.5em;
                }
            }
            #div-cmdlhz{
                grid-column: 3/4;
                display: flex;
                justify-content: center;
            }
            #div-stackoverflow{
                grid-column: 4/5;
                justify-self: center;
    
                img{
                    width: 2.5em;
                }
            }
            #div-twitter{
                grid-column: 5/6;
                justify-self: center;
    
                img{
                    width: 3.4em;
                }
            }
        }
        #index-div{
            grid-row: 3/12;
            grid-column: 2/12;
            border: 0.5em solid $index-color;
    
            padding: 0.5em 1em 1em 1em;
            display: grid;
            grid-template-rows: 5em 1fr 3em;
    
            #id-top{
                grid-row: 1/2;
                align-self: center;
    
                #index-title{
                    text-align: center;
                    margin: 0;
                }
            }
            #id-md{
                grid-row: 2/3;
                text-align: center;
    
                display: flex;
                justify-content: center;
    
                #id-imgs{
                    width: 100%;
                    font-size: 0.9em;
    
                    .col{
                        padding-bottom: 1em;
                        color: $index-color;
                    }
                    .row{
                        padding-bottom: 0.5em;
                    }
                    td{
                        padding: 0.3em 0.3em 0.3em 1em;
                        text-align: center;
                    }
                }
            }
            #id-btm{
                grid-row: 3/4;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 1em;
    
                .index-buttons{
                    height: 80%;
                    width: 90%;
                    justify-self: center;
                    align-self: center;
                    border-radius: 0.25em;
                    background-color: $index-color;
                    color: white;
                    font-size: 1.1em;
                }
            }
        }
        .photo-credit{
            display: none;
        }    
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media screen and (min-width: 992px) {
        height: 100vh;
        grid-template-rows: repeat(11, 50px) auto; 

        #index-social-media{
            grid-row: 2/7;
            grid-column: 12/13;
            border-top: 0.3em solid $index-color;
            border-bottom: 0.3em solid $index-color;
            border-left: 0.3em solid $index-color;
            justify-self: flex-end;
            align-items: center;
    
            display: grid;
            grid-template-rows: repeat(5, 1fr);
            grid-row-gap: 10px;
    
            #div-linkedin{
                grid-row: 1/2;
                padding: 0.3em 0.2em 0.2em 0.4em;
    
                img{
                    width: 3em;
                }
            }
            #div-medium{
                grid-row: 2/3;
                justify-self: center;
                align-self: center;
    
                img{
                    height: 2.5em;
                }
            }
            #div-cmdlhz{
                grid-row: 3/4;
                display: flex;
                justify-content: center;
            }
            #div-stackoverflow{
                grid-row: 4/5;
                justify-self: center;
    
                img{
                    width: 2.5em;
                }
            }
            #div-twitter{
                grid-row: 5/6;
                justify-self: center;
    
                img{
                    width: 3.4em;
                }
            }
        }
        #index-div{
            grid-row: 2/11;
            grid-column: 3/11;
            border: 0.5em solid $index-color;
    
            padding: 0.5em 1em 1em 1em;
            display: grid;
            grid-template-rows: 5em 1fr 3em;
    
            #id-top{
                grid-row: 1/2;
                align-self: center;
    
                #index-title{
                    text-align: center;
                    margin: 0;
                }
            }
            #id-md{
                grid-row: 2/3;
                text-align: center;
                font-size: 1.1em;
    
                display: flex;
                justify-content: center;
    
                #id-imgs{
                    width: 100%;
    
                    .col{
                        padding-bottom: 1em;
                        color: $index-color;
                    }
                    .row{
                        padding-bottom: 0.5em;
                    }
                    td{
                        padding: 0.3em 0.3em 0.3em 1em;
                        text-align: center;
                    }
                }
            }
            #id-btm{
                grid-row: 3/4;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 1em;
    
                .index-buttons{
                    height: 80%;
                    width: 90%;
                    justify-self: center;
                    align-self: center;
                    border-radius: 0.25em;
                    background-color: $index-color;
                    color: white;
                    font-size: 1.1em;
                }
            }
        }
        .photo-credit{
            @include photo-credit;
            color: $darker-border-color;
            a{
                &:link{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:visited{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:hover{
                    color: $brand-color;
                    text-decoration: none;
                }
                &:active{
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }
    }
}