@import "_home";

#login-bg{
    background-image: url("../../../resources/img/loginBg.jpg");
    background-position: center;
    background-size: cover;

    display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(11, 50px) auto;
    grid-row-gap: 10px;
    color: $border-color;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        height: 100vh;

        #login-div{
            grid-row: 2/9;
            grid-column: 2/12;
            border: 0.5em solid $border-color;
            padding: 0.5em 0.8em;
    
            display: grid;
            grid-template-rows: repeat(3, 1fr) auto;
    
            #login-title-div{
                grid-row: 1/2;
                font-size: 0.9em;
    
                #login-title{
                    text-align: center;
                }
            }
            #login-main{
                grid-row: 2/3;
                text-align: center;
                font-size: 1.2em;
    
                display: grid;
                grid-template-rows: repeat(5, 1fr);
                grid-row-gap: 0.5em;
    
                .login-labels{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                #uiId-label{
                    grid-row: 1/2;
                    font-size: 1.3em;
                }
                #uiId{
                    grid-row: 2/3;
                }
                #uiPwd-label{
                    grid-row: 3/4;
                    font-size: 1.3em;
                }
                #uiPwd{
                    grid-row: 4/5;
                }
                #login-button{
                    grid-row: 5/6;
                    border-radius: 0.25em;
                    background-color: $border-color;
                    font-size: 1.05em;                   
                }
            }
            #login-divider{
                grid-row: 3/4;
                text-align: center;
                font-size: 1em;
    
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                
                #ld-top{
                    grid-row: 1/2;
                    border-bottom: 0.1em solid $border-color;
                }
                #ld-bottom{
                    grid-row: 2/3;
                    border-top: 0.1em solid $border-color;   
                }
            }
            #signup-div{
                grid-row: 4/5;
                
                text-align: center;
                color: black;
                font-weight: bold;
        
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1.5em;
    
                p{
                    font-size: 1.1em;
                    background: $border-color;
                    padding: 0.3em;
                    margin-top: 0;
                    margin-bottom: 0;
        
                    #move-to-signup{
                        // https://stackoverflow.com/questions/40927976/add-onclick-function-to-text-tag-element
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
        .photo-credit{
            display: none;
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */    
    @media only screen and (min-width: 600px) and (max-width: 768px) and (orientation: landscape) {
        #login-div{
            grid-row: 2/8;
            grid-column: 2/12;
            border: 0.5em solid $border-color;
            padding: 0.5em 2.5em;
    
            display: grid;
            grid-template-rows: repeat(3, 1fr) auto;
    
            #login-title-div{
                grid-row: 1/2;
    
                #login-title{
                    text-align: center;
                }
            }
            #login-main{
                grid-row: 2/3;
                text-align: center;
                font-size: 1.2em;
    
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: 5em 1fr 5em;
                grid-row-gap: 0.5em;
                grid-column-gap: 1em;
    
                .login-labels{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                #uiId-label{
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                #uiId{
                    grid-row: 1/2;
                    grid-column: 2/3;                
                }
                #uiPwd-label{
                    grid-row: 2/3;
                    grid-column: 1/2;                
                }
                #uiPwd{
                    grid-row: 2/3;
                    grid-column: 2/3;                
                }
                #login-button{
                    grid-row: 1/3;
                    grid-column: 3/4;
                    border-radius: 0.25em;
                    background-color: $border-color;
                    font-size: 1.05em;                   
                }
            }
            #login-divider{
                grid-row: 3/4;
                text-align: center;
                font-size: 1em;
    
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                
                #ld-top{
                    grid-row: 1/2;
                    border-bottom: 0.1em solid $border-color;
                }
                #ld-bottom{
                    grid-row: 2/3;
                    border-top: 0.1em solid $border-color;   
                }
            }
            #signup-div{
                grid-row: 4/5;
                
                text-align: center;
                color: black;
                font-weight: bold;
        
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1.5em;
    
                p{
                    font-size: 1.1em;
                    background: $border-color;
                    padding: 0.3em;
                    margin-top: 0;
                    margin-bottom: 0;
        
                    #move-to-signup{
                        // https://stackoverflow.com/questions/40927976/add-onclick-function-to-text-tag-element
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
        .photo-credit{
            @include photo-credit;
            color: $darker-border-color;
            a{
                &:link{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:visited{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:hover{
                    color: $brand-color;
                    text-decoration: none;
                }
                &:active{
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }
    }

    /* small window screens */
    @media only screen and (min-width: 600px) and (max-width: 768px) and (orientation: portrait) {
        height: 100vh;
        #login-div{
            grid-row: 2/8;
            grid-column: 2/12;
            border: 0.5em solid $border-color;
            padding: 0.5em 2.5em;
    
            display: grid;
            grid-template-rows: repeat(3, 1fr) auto;
    
            #login-title-div{
                grid-row: 1/2;
    
                #login-title{
                    text-align: center;
                }
            }
            #login-main{
                grid-row: 2/3;
                text-align: center;
                font-size: 1.2em;
    
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: 5em 1fr 5em;
                grid-row-gap: 0.5em;
                grid-column-gap: 1em;
    
                .login-labels{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                #uiId-label{
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                #uiId{
                    grid-row: 1/2;
                    grid-column: 2/3;                
                }
                #uiPwd-label{
                    grid-row: 2/3;
                    grid-column: 1/2;                
                }
                #uiPwd{
                    grid-row: 2/3;
                    grid-column: 2/3;                
                }
                #login-button{
                    grid-row: 1/3;
                    grid-column: 3/4;
                    border-radius: 0.25em;
                    background-color: $border-color;
                    font-size: 1.05em;                   
                }
            }
            #login-divider{
                grid-row: 3/4;
                text-align: center;
                font-size: 1em;
    
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                
                #ld-top{
                    grid-row: 1/2;
                    border-bottom: 0.1em solid $border-color;
                }
                #ld-bottom{
                    grid-row: 2/3;
                    border-top: 0.1em solid $border-color;   
                }
            }
            #signup-div{
                grid-row: 4/5;
                
                text-align: center;
                color: black;
                font-weight: bold;
        
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1.5em;
    
                p{
                    font-size: 1.1em;
                    background: $border-color;
                    padding: 0.3em;
                    margin-top: 0;
                    margin-bottom: 0;
        
                    #move-to-signup{
                        // https://stackoverflow.com/questions/40927976/add-onclick-function-to-text-tag-element
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
        .photo-credit{
            @include photo-credit;
            color: $darker-border-color;
            a{
                &:link{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:visited{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:hover{
                    color: $brand-color;
                    text-decoration: none;
                }
                &:active{
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
        #login-div{
            grid-row: 2/8;
            grid-column: 3/11;
            border: 0.5em solid $border-color;
            padding: 0.5em 3em;
    
            display: grid;
            grid-template-rows: repeat(3, 1fr) auto;
    
            #login-title-div{
                grid-row: 1/2;
    
                #login-title{
                    text-align: center;
                }
            }
            #login-main{
                grid-row: 2/3;
                text-align: center;
                font-size: 1.2em;
    
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: 5em 1fr 5em;
                grid-row-gap: 0.5em;
                grid-column-gap: 1em;
    
                .login-labels{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                #uiId-label{
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                #uiId{
                    grid-row: 1/2;
                    grid-column: 2/3;                
                }
                #uiPwd-label{
                    grid-row: 2/3;
                    grid-column: 1/2;                
                }
                #uiPwd{
                    grid-row: 2/3;
                    grid-column: 2/3;                
                }
                #login-button{
                    grid-row: 1/3;
                    grid-column: 3/4;
                    border-radius: 0.25em;
                    background-color: $border-color;
                    font-size: 1.05em;                   
                }
            }
            #login-divider{
                grid-row: 3/4;
                text-align: center;
                font-size: 1em;
    
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                
                #ld-top{
                    grid-row: 1/2;
                    border-bottom: 0.1em solid $border-color;
                }
                #ld-bottom{
                    grid-row: 2/3;
                    border-top: 0.1em solid $border-color;   
                }
            }
            #signup-div{
                grid-row: 4/5;
                
                text-align: center;
                color: black;
                font-weight: bold;
        
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1.5em;
    
                p{
                    font-size: 1.1em;
                    background: $border-color;
                    padding: 0.3em;
                    margin-top: 0;
                    margin-bottom: 0;
        
                    #move-to-signup{
                        // https://stackoverflow.com/questions/40927976/add-onclick-function-to-text-tag-element
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
        .photo-credit{
            @include photo-credit;
            color: $darker-border-color;
            a{
                &:link{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:visited{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:hover{
                    color: $brand-color;
                    text-decoration: none;
                }
                &:active{
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }
    }

    /* medium window screens */
    @media only screen and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
        height: 100vh;
        #login-div{
            grid-row: 2/8;
            grid-column: 3/11;
            border: 0.5em solid $border-color;
            padding: 0.5em 3em;
    
            display: grid;
            grid-template-rows: repeat(3, 1fr) auto;
    
            #login-title-div{
                grid-row: 1/2;
    
                #login-title{
                    text-align: center;
                }
            }
            #login-main{
                grid-row: 2/3;
                text-align: center;
                font-size: 1.2em;
    
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: 5em 1fr 5em;
                grid-row-gap: 0.5em;
                grid-column-gap: 1em;
    
                .login-labels{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                #uiId-label{
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                #uiId{
                    grid-row: 1/2;
                    grid-column: 2/3;                
                }
                #uiPwd-label{
                    grid-row: 2/3;
                    grid-column: 1/2;                
                }
                #uiPwd{
                    grid-row: 2/3;
                    grid-column: 2/3;                
                }
                #login-button{
                    grid-row: 1/3;
                    grid-column: 3/4;
                    border-radius: 0.25em;
                    background-color: $border-color;
                    font-size: 1.05em;                   
                }
            }
            #login-divider{
                grid-row: 3/4;
                text-align: center;
                font-size: 1em;
    
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                
                #ld-top{
                    grid-row: 1/2;
                    border-bottom: 0.1em solid $border-color;
                }
                #ld-bottom{
                    grid-row: 2/3;
                    border-top: 0.1em solid $border-color;   
                }
            }
            #signup-div{
                grid-row: 4/5;
                
                text-align: center;
                color: black;
                font-weight: bold;
        
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1.5em;
    
                p{
                    font-size: 1.1em;
                    background: $border-color;
                    padding: 0.3em;
                    margin-top: 0;
                    margin-bottom: 0;
        
                    #move-to-signup{
                        // https://stackoverflow.com/questions/40927976/add-onclick-function-to-text-tag-element
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
        .photo-credit{
            @include photo-credit;
            color: $darker-border-color;
            a{
                &:link{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:visited{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:hover{
                    color: $brand-color;
                    text-decoration: none;
                }
                &:active{
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        height: 100vh; 

        #login-div{
            grid-row: 2/8;
            grid-column: 3/11;
            border: 0.5em solid $border-color;
            padding: 0.5em 3em;
    
            display: grid;
            grid-template-rows: repeat(3, 1fr) auto;
    
            #login-title-div{
                grid-row: 1/2;
    
                #login-title{
                    text-align: center;
                }
            }
            #login-main{
                grid-row: 2/3;
                text-align: center;
                font-size: 1.2em;
    
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: 5em 1fr 5em;
                grid-row-gap: 0.5em;
                grid-column-gap: 1em;
    
                .login-labels{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                #uiId-label{
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                #uiId{
                    grid-row: 1/2;
                    grid-column: 2/3;                
                }
                #uiPwd-label{
                    grid-row: 2/3;
                    grid-column: 1/2;                
                }
                #uiPwd{
                    grid-row: 2/3;
                    grid-column: 2/3;                
                }
                #login-button{
                    grid-row: 1/3;
                    grid-column: 3/4;
                    border-radius: 0.25em;
                    background-color: $border-color;
                    font-size: 1.05em;                   
                }
            }
            #login-divider{
                grid-row: 3/4;
                text-align: center;
                font-size: 1em;
    
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                
                #ld-top{
                    grid-row: 1/2;
                    border-bottom: 0.1em solid $border-color;
                }
                #ld-bottom{
                    grid-row: 2/3;
                    border-top: 0.1em solid $border-color;   
                }
            }
            #signup-div{
                grid-row: 4/5;
                
                text-align: center;
                color: black;
                font-weight: bold;
        
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1.5em;
    
                p{
                    font-size: 1.1em;
                    background: $border-color;
                    padding: 0.3em;
                    margin-top: 0;
                    margin-bottom: 0;
        
                    #move-to-signup{
                        // https://stackoverflow.com/questions/40927976/add-onclick-function-to-text-tag-element
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
        .photo-credit{
            @include photo-credit;
            color: $darker-border-color;
            a{
                &:link{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:visited{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:hover{
                    color: $brand-color;
                    text-decoration: none;
                }
                &:active{
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }
    }
}