@import "_logout";

#main-div {
    display: grid;

    #main-article{
        grid-column: 1/5;
        grid-row: 3/4;
        justify-self: center;

        p{
            text-align: center;
            a{
                &:link{
                    color: black;
                    text-decoration: underline;
                }
                &:visited{
                    color: black;
                    text-decoration: underline;
                }
                &:hover{
                    color: $brand-color;
                    text-decoration: none;
                }
                &:active{
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }
    }

	/* Extra small devices (phones, 600px and down) */
	@media only screen and (max-width: 600px) {
        grid-template-rows: 4.5em 20em 1fr;
        grid-row-gap: 0.5em;

        #main-title {
            grid-column: 1/5;
            grid-row: 1/2;
            margin: 0.8em 0 0 0;
            font-size: 1.7em;
        }
    
        #main-features {
            grid-column: 1/5;
            grid-row: 2/3;
    
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);

            grid-row-gap: 1em;
            border-radius: 0.5em;
    
            @mixin features-title {
                background-color: $brand-background-color;
                border-radius: 0.5em 0 0 0.5em;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    margin: 0.6em;
                    font-size: 1em;
                }
            }
            @mixin features-contents {
                border-top: 0.08em solid $darker-border-color;
                border-right: 0.08em solid $darker-border-color;
                border-bottom: 0.08em solid $darker-border-color;
                border-radius: 0 0.5em 0.5em 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                p {
                    margin: 0;
                }
            }
    
            #ft-title {
                grid-column: 1/2;
                grid-row: 1/2;
                @include features-title;
            }
            #ft-contents {
                grid-column: 2/5;
                grid-row: 1/2;
                @include features-contents;
            }
            #fr-title {
                grid-column: 1/2;
                grid-row: 2/3;
                @include features-title;
            }
            #fr-contents {
                grid-column: 2/5;
                grid-row: 2/3;
                @include features-contents;
            }
            #fs-title {
                grid-column: 1/2;
                grid-row: 3/4;
                @include features-title;
            }
            #fs-contents {
                grid-column: 2/5;
                grid-row: 3/4;
                @include features-contents;
            }
        }       
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    /* Medium devices (landscape tablets, 768px and up) */
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 600px) {
        grid-column-gap: 1.5em;
        grid-template-rows: 4.5em 10em 1fr;
        grid-row-gap: 2em;

        #main-title {
            grid-column: 1/5;
            grid-row: 1/2;
            margin: 1em 0 0 0;
        }
    
        #main-features {
            grid-column: 1/5;
            grid-row: 2/3;
    
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 2em;
            border-radius: 0.5em;
    
            @mixin features-title {
                background-color: $brand-background-color;
                border-radius: 0.5em 0.5em 0 0;
                display: flex;
                justify-content: center;
                p {
                    margin: 0.85em;
                    font-size: 1.1em;
                }
            }
            @mixin features-contents {
                border-left: 0.08em solid $darker-border-color;
                border-right: 0.08em solid $darker-border-color;
                border-bottom: 0.08em solid $darker-border-color;
                border-radius: 0 0 0.5em 0.5em;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                p {
                    margin: 0;
                }
            }
    
            #ft-title {
                grid-column: 1/2;
                grid-row: 1/2;
                @include features-title;
            }
            #ft-contents {
                grid-column: 1/2;
                grid-row: 2/5;
                @include features-contents;
            }
            #fr-title {
                grid-column: 2/3;
                grid-row: 1/2;
                @include features-title;
            }
            #fr-contents {
                grid-column: 2/3;
                grid-row: 2/5;
                @include features-contents;
            }
            #fs-title {
                grid-column: 3/4;
                grid-row: 1/2;
                @include features-title;
            }
            #fs-contents {
                grid-column: 3/4;
                grid-row: 2/5;
                @include features-contents;
            }
        }
    }
}