@import "_main";

#results-div{
    th, td{
        border: 1px solid $darker-border-color;
        padding: 0.2em;
    }
    th{
        cursor: pointer;
        &:hover{
            color: $brand-color;
        }
    }
    button {
        &:hover {
            cursor: pointer;
            background-color: $brand-color;
            color: white;
        }
    }

	/* iPhone 5/SE */
    @media only screen and (max-width: 350px) {
        #results-title {
            font-size: 1.7em;
        }
        #search-and-delete {
            font-size: 0.8em;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
            text-align: center;
            font-size: 0.4em;
        }
        #search-and-delete {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            margin-bottom: 1em;
    
            #search-div {
                grid-row: 1/4;
                grid-column: 1/5;
    
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, 1.8em);
    
                #option-1 {
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                #option-2 {
                    grid-row: 1/2;
                    grid-column: 2/3;
                }
                #option-3 {
                    grid-row: 2/3;
                    grid-column: 1/2;
                }
                #option-4 {
                    grid-row: 2/3;
                    grid-column: 2/3;
                }
                #option-all {
                    grid-row: 3/4;
                    grid-column: 1/2;
                }
                #search-box-div {
                    grid-row: 4/6;
                    grid-column: 1/2;
                    display: flex;
                    flex-direction: column;
                    input {
                        width: 100%;
                    }
                }
                #delete-button {
                    grid-row: 5/6;
                    grid-column: 2/3;
                    justify-self: flex-end;
                }
            }
            #delete-button-large-screen {
                display: none;
            }
        }          
    }

	/* Extra small devices (phones, 600px and down) */
    @media only screen and (min-width: 350px) and (max-width: 600px) {
        #results-title {
            font-size: 1.7em;
        }
        #search-and-delete {
            font-size: 0.8em;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
            text-align: center;
            font-size: 0.5em;
        }
        #search-and-delete {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            margin-bottom: 1em;
    
            #search-div {
                grid-row: 1/4;
                grid-column: 1/5;
    
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, 1.8em);
    
                #option-1 {
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                #option-2 {
                    grid-row: 1/2;
                    grid-column: 2/3;
                }
                #option-3 {
                    grid-row: 2/3;
                    grid-column: 1/2;
                }
                #option-4 {
                    grid-row: 2/3;
                    grid-column: 2/3;
                }
                #option-all {
                    grid-row: 3/4;
                    grid-column: 1/2;
                }
                #search-box-div {
                    grid-row: 4/6;
                    grid-column: 1/2;
                    display: flex;
                    flex-direction: column;
                    input {
                        width: 100%;
                    }
                }
                #delete-button {
                    grid-row: 5/6;
                    grid-column: 2/3;
                    justify-self: flex-end;
                }
            }
            #delete-button-large-screen {
                display: none;
            }
        }          
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 600px) and (max-width: 768px) {
        table {
            border-collapse: collapse;
            border-spacing: 0;
            text-align: center;
            font-size: 0.9em;
        }
        button {
            width: 7em;
        }
        #search-and-delete {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            margin-bottom: 1em;
    
            #search-div {
                grid-row: 1/4;
                grid-column: 1/5;
    
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1.8em);
    
                #option-1 {
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                #option-2 {
                    grid-row: 1/2;
                    grid-column: 2/3;
                }
                #option-3 {
                    grid-row: 1/2;
                    grid-column: 3/4;
                }
                #option-4 {
                    grid-row: 1/2;
                    grid-column: 4/5;
                }
                #option-all {
                    grid-row: 2/3;
                    grid-column: 1/2;
                }
                #search-box-div {
                    grid-row: 3/4;
                    grid-column: 1/4;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
                #delete-button {
                    grid-row: 3/4;
                    grid-column: 4/5;
                    justify-self: flex-end;
                }
            }
            #delete-button-large-screen {
                display: none;
            }
        }           
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 768px) {
        table {
            border-collapse: collapse;
            border-spacing: 0;
            text-align: center;
        }
        button {
            width: 7em;
        }
        #search-and-delete {
            display: grid;
            grid-template-columns: 32em 1fr 5em;
            grid-template-rows: repeat(3, 1fr);
            margin-bottom: 1em;
    
            #search-div {
                grid-row: 1/4;
                grid-column: 1/2;
    
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1.8em);
    
                #option-1 {
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                #option-2 {
                    grid-row: 1/2;
                    grid-column: 2/3;
                }
                #option-3 {
                    grid-row: 1/2;
                    grid-column: 3/4;
                }
                #option-4 {
                    grid-row: 1/2;
                    grid-column: 4/5;
                }
                #option-all {
                    grid-row: 2/3;
                    grid-column: 1/2;
                }
                #search-box-div {
                    grid-row: 3/4;
                    grid-column: 1/4;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
                #delete-button {
                    display: none;
                }
            }
            #delete-button-large-screen {
                grid-row: 3/4;
                grid-column: 3/4;
                justify-self: flex-end;
            }
        }
    }
}
