@import "_results";

#signup-bg{
    background-image: url("../../../resources/img/signupBg.jpg");
    background-position: center;
    background-size: cover;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 10px;
    color: $border-color;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        grid-template-rows: repeat(16, 1fr);

        #signup-div{
            grid-row: 2/15;
            grid-column: 2/12;
            border: 0.5em solid $border-color;
            font-size: 1.1em;
            color: black;
    
            display: grid;
            grid-template-rows: repeat(11, 1fr);
            
            #signup-title-div{
                grid-row: 1/2;
                font-size: 1.1em;

                h1{
                    text-align: center;
                    font-size: 1.2em;
                }
            }
            #signup-main{
                grid-row: 2/12;
                display: grid;
                grid-template-rows: repeat(11, 1fr);
                grid-row-gap: 0.5em;
    
                input{
                    width: 75%;
                    justify-self: center;
                }
                .signup-labels{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.1em;
                    font-weight: bold;
                }
                #signup-uiName-label{
                    grid-row: 1/2;
                }
                #signup-uiName{
                    grid-row: 2/3;
                }
                #signup-uiId-label{
                    grid-row: 3/4;
                }
                #signup-uiId{
                    grid-row: 4/5;
                }
                #signup-uiPwd-label{
                    grid-row: 5/6;
                }
                #signup-uiPwd{
                    grid-row: 6/7;
                }
                #signup-uiPwdCheck-label{
                    grid-row: 7/8;
                }
                #signup-uiPwdCheck{
                    grid-row: 8/9;
                }
    
                .signup-buttons{
                    width: 65%;
                        height: 90%;
                    justify-self: center;
                    align-self: center;
                    border-radius: 1em;
                    font-size: 1.03em;
                    background-color: $border-color;
                    margin-top: 0.3em;
                }
                #signup-button{
                    grid-row: 9/10;
                }
                #signup-index-button{
                    grid-row: 10/11;
                }
            }
        }
        #signup-info{
            grid-row: 15/17;
            grid-column: 2/12;
            text-align: center;
            color: black;
            font-size: 0.79em;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            p{
                background: $border-color;
                padding: 0.3em;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .photo-credit{
            grid-row: 17/18;
            grid-column: 1/13;
            justify-self: flex-end;
            align-self: flex-end;
            padding: 0 1em 1em 0;
            font-size: 0.7em;

            color: $darker-border-color;
            a{
                &:link{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:visited{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:hover{
                    color: $brand-color;
                    text-decoration: none;
                }
                &:active{
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 600px) and (max-width: 992px) and (orientation: landscape) {
        grid-template-rows: repeat(11, 50px) auto;

        #signup-div{
            grid-row: 2/8;
            grid-column: 2/12;
            border: 0.5em solid $border-color;
            padding: 0 1em 1em 1em;
            font-size: 1.2em;
    
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            
            #signup-title-div{
                grid-row: 1/2;
                h1{
                    text-align: center;
                }
            }
            #signup-main{
                grid-row: 2/8;
                display: grid;
                grid-template-rows: repeat(6, 1fr);
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 0.5em;
                grid-column-gap: 1em;
    
                input{
                    width: 75%;
                }
                .signup-labels{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.1em;
                    font-weight: bold;
                }
                #signup-uiName-label{
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                #signup-uiName{
                    grid-row: 1/2;
                    grid-column: 2/3;                
                }
                #signup-uiId-label{
                    grid-row: 2/3;
                    grid-column: 1/2;
                }
                #signup-uiId{
                    grid-row: 2/3;
                    grid-column: 2/3;                
                }
                #signup-uiPwd-label{
                    grid-row: 3/4;
                    grid-column: 1/2;                
                }
                #signup-uiPwd{
                    grid-row: 3/4;
                    grid-column: 2/3;                
                }
                #signup-uiPwdCheck-label{
                    grid-row: 4/5;
                    grid-column: 1/2;                
                }
                #signup-uiPwdCheck{
                    grid-row: 4/5;
                    grid-column: 2/3;                
                }
    
                .signup-buttons{
                    width: 65%;
                    justify-self: center;
                    align-self: center;
                    border-radius: 1em;
                    font-size: 1.03em;
                    background-color: $border-color;
                }
                #signup-button{
                    grid-row: 5/6;
                    grid-column: 1/3;                
                }
                #signup-index-button{
                    grid-row: 6/7;
                    grid-column: 1/3;                
                }
            }
        }
        #signup-info{
            grid-row: 8/10;
            grid-column: 2/12;
            text-align: center;
            color: black;
            font-size: 1.2em;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            p{
                background: $border-color;
                padding: 0.3em;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .photo-credit{
            @include photo-credit;
            color: $darker-border-color;
            a{
                &:link{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:visited{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:hover{
                    color: $brand-color;
                    text-decoration: none;
                }
                &:active{
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }    
    }

    /* small-to-medium window screens */
    @media only screen and (min-width: 600px) and (max-width: 992px) and (orientation: portrait) {
        height: 100vh;
        grid-template-rows: repeat(11, 50px) auto;

        #signup-div{
            grid-row: 2/8;
            grid-column: 2/12;
            border: 0.5em solid $border-color;
            padding: 0 1em 1em 1em;
            font-size: 1.2em;
    
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            
            #signup-title-div{
                grid-row: 1/2;
                h1{
                    text-align: center;
                }
            }
            #signup-main{
                grid-row: 2/8;
                display: grid;
                grid-template-rows: repeat(6, 1fr);
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 0.5em;
                grid-column-gap: 1em;
    
                input{
                    width: 75%;
                }
                .signup-labels{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.1em;
                    font-weight: bold;
                }
                #signup-uiName-label{
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                #signup-uiName{
                    grid-row: 1/2;
                    grid-column: 2/3;                
                }
                #signup-uiId-label{
                    grid-row: 2/3;
                    grid-column: 1/2;
                }
                #signup-uiId{
                    grid-row: 2/3;
                    grid-column: 2/3;                
                }
                #signup-uiPwd-label{
                    grid-row: 3/4;
                    grid-column: 1/2;                
                }
                #signup-uiPwd{
                    grid-row: 3/4;
                    grid-column: 2/3;                
                }
                #signup-uiPwdCheck-label{
                    grid-row: 4/5;
                    grid-column: 1/2;                
                }
                #signup-uiPwdCheck{
                    grid-row: 4/5;
                    grid-column: 2/3;                
                }
    
                .signup-buttons{
                    width: 65%;
                    justify-self: center;
                    align-self: center;
                    border-radius: 1em;
                    font-size: 1.03em;
                    background-color: $border-color;
                }
                #signup-button{
                    grid-row: 5/6;
                    grid-column: 1/3;                
                }
                #signup-index-button{
                    grid-row: 6/7;
                    grid-column: 1/3;                
                }
            }
        }
        #signup-info{
            grid-row: 8/10;
            grid-column: 2/12;
            text-align: center;
            color: black;
            font-size: 1.2em;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            p{
                background: $border-color;
                padding: 0.3em;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .photo-credit{
            @include photo-credit;
            color: $darker-border-color;
            a{
                &:link{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:visited{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:hover{
                    color: $brand-color;
                    text-decoration: none;
                }
                &:active{
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }    
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        height: 100vh; 
        grid-template-rows: repeat(11, 50px) auto;

        #signup-div{
            grid-row: 2/8;
            grid-column: 4/10;
            border: 0.5em solid $border-color;
            padding: 0 1em 1em 1em;
            font-size: 1.1em;
    
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            
            #signup-title-div{
                grid-row: 1/2;
                h1{
                    text-align: center;
                }
            }
            #signup-main{
                grid-row: 2/8;
                display: grid;
                grid-template-rows: repeat(6, 1fr);
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 0.5em;
                grid-column-gap: 1em;
    
                input{
                    width: 75%;
                }
                .signup-labels{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.1em;
                    font-weight: bold;
                }
                #signup-uiName-label{
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                #signup-uiName{
                    grid-row: 1/2;
                    grid-column: 2/3;                
                }
                #signup-uiId-label{
                    grid-row: 2/3;
                    grid-column: 1/2;
                }
                #signup-uiId{
                    grid-row: 2/3;
                    grid-column: 2/3;                
                }
                #signup-uiPwd-label{
                    grid-row: 3/4;
                    grid-column: 1/2;                
                }
                #signup-uiPwd{
                    grid-row: 3/4;
                    grid-column: 2/3;                
                }
                #signup-uiPwdCheck-label{
                    grid-row: 4/5;
                    grid-column: 1/2;                
                }
                #signup-uiPwdCheck{
                    grid-row: 4/5;
                    grid-column: 2/3;                
                }
    
                .signup-buttons{
                    height: 80%;
                    width: 65%;
                    justify-self: center;
                    align-self: center;
                    border-radius: 1em;
                    font-size: 1.03em;
                    background-color: $border-color;
                }
                #signup-button{
                    grid-row: 5/6;
                    grid-column: 1/3;                
                }
                #signup-index-button{
                    grid-row: 6/7;
                    grid-column: 1/3;                
                }
            }
        }
        #signup-info{
            grid-row: 8/10;
            grid-column: 4/10;
            text-align: center;
            color: black;
            font-size: 1.1em;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            p{
                background: $border-color;
                padding: 0.3em;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .photo-credit{
            @include photo-credit;
            color: $darker-border-color;
            a{
                &:link{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:visited{
                    color: $darker-border-color;
                    text-decoration: underline;
                }
                &:hover{
                    color: $brand-color;
                    text-decoration: none;
                }
                &:active{
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }        
    }
}