@import "_signup";

#stats-div{
    table {
        border-collapse: collapse;
        border-spacing: 0;
        text-align: center;
    }

    /* Extra small devices (phones, 600px and down) */
	@media only screen and (max-width: 600px) {
        [data-id="all"] {
            font-size: 0.7em;
        }
    }

    th, td{
        border: 1px solid $darker-border-color;
        padding: 0.2em;
    }
    th{
        cursor: pointer;
        &:hover{
            color: $brand-color;
        }
    }
    button {
        height: 1.8em;
        margin-right: 0.5em;

        &:hover {
            cursor: pointer;
            background-color: $brand-color;
            color: white;
        }
    }
}