@import "_stats";

.pages{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-row-gap: 10px;

	margin: 0;
	padding: 0;

	nav{
		border-bottom: 1px solid $border-color;
		grid-column: 1/13;
		grid-row: 1/2;
		display: flex;
		justify-content: space-between;	

		/* Extra small devices (phones, 600px and down) */
		@media only screen and (max-width: 600px) {	
			.nav-menu {
				display: none;
			}
			ul{
				margin: 0;
				padding: 0;
				list-style: none;
		
				display: flex;
				align-items: center;

				#nav-dropdown-trigger{
					display:block;
					margin: 0.6em;
					position: relative;
					
					#nav-clear-icon {
						display: none;
					}

					#nav-dropdown-div {
						display: none;
						overflow: hidden;
						position: absolute;
						top: 2.2em;
						right: -0.5em;
						width: 20vh;
						background: white;	
						z-index: 100;

						border-left: 0.08em solid $darker-border-color;
						border-right: 0.08em solid $darker-border-color;
						border-bottom: 0.08em solid $darker-border-color;

						.nav-dropdown-menu {
							display: none;
						}
						a{
							text-decoration: none;
							width: 100%;
							height: 3em;
							display: flex;
							align-items: center;
							justify-content: center;
							
							span {
								display: block;
								&:hover{
									color: white;
									background: $brand-color;
									text-decoration: none;
								}
								&:active{
									color: white;
									background: $brand-color;
									text-decoration: none;
								}
							}

							&:link{
								color: black;
								text-decoration: none;
							}
							&:visited{
								color: black;
								text-decoration: none;
							}
							&:hover{
								color: white;
								background: $brand-color;
								text-decoration: none;
							}
							&:active{
								color: white;
								background: $brand-color;
								text-decoration: none;
							}
						}
					}
				}
			}
		}

		/* Small devices (portrait tablets and large phones, 600px and up) */
		/* Medium devices (landscape tablets, 768px and up) */
		/* Large devices (laptops/desktops, 992px and up) */
		@media only screen and (min-width: 600px) {
			ul{
				margin: 0;
				padding: 0;
				list-style: none;
		
				display: flex;
				align-items: center;
				
				li{
					margin: 0.6em;
					@include link-effect;
					
					#logo-li{
						margin-bottom: 0;
					}
					img{
						height: 100%;
						width: 100%;
					}
					a{
						text-decoration: none;
					}
					
					@include nav-link-animation;
				}
	
				#nav-dropdown-trigger{
					display: none;
				}
				#navbar-left{
					justify-content: flex-start;
				}
				#navbar-right{
					justify-content: flex-end;
				}
			}
		}		
	}
	
	// 공통 START
	.select-lang {
		width: 100%;
		padding: .8em .5em;
		border-radius: 0px;
		font-size: 1.1em;
	}
	textarea{
		border: 0;
		width: 100%;
		height: 100%;
		padding: 1em 1.5em;
		font-size: 1.1em;
		resize: none;
		border: 0.08em solid $darker-border-color;
	}
	// 공통 END

	/* Extra small devices (phones, 600px and down) */
	@media only screen and (max-width: 600px) {
		#papago-div {
			display: grid;
			grid-template-columns: repeat(8, 1fr);
			grid-template-rows: 1em 2.8em 5em 2.8em 5em 3em repeat(4, 3.4em);
    		grid-row-gap: 0.5em;
		}
		#papago-before-top {
			grid-column: 1/9;
			grid-row: 2/3;
		}
		#papago-before-bottom {
			grid-column: 1/9;
			grid-row: 3/4;		
		}
		#papago-after-top {
			grid-column: 1/9;
			grid-row: 4/5;
		}
		#papago-after-bottom {
			grid-column: 1/9;
			grid-row: 5/6;	
		}	
		#papago-button-div {
			grid-column: 1/9;
			grid-row: 6/7;
			
			#papago-button {
				height: 100%;
				width: 100%;
				justify-self: center;
				align-self: center;
				border-radius: 0.25em;
				background-color: $brand-color;
				color: white;
				font-size: 1.1em;
			}
		}
		#papago-info {
			grid-column: 1/9;
			grid-row: 7/11;
			font-size: 0.8em;
			color: $darker-border-color;
			p {
				margin-bottom: 0;
			}
		}
	}

	/* Small devices (portrait tablets and large phones, 600px and up) */
    /* Medium devices (landscape tablets, 768px and up) */
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 600px) {
		#papago-div {
			display: grid;
			grid-template-columns: repeat(8, 1fr);
			grid-template-rows: 3em 3.3em repeat(9, 1fr);
			grid-column-gap: 1.5em;
		}
		#papago-before-top {
			grid-column: 1/5;
			grid-row: 2/3;
		}
		#papago-before-bottom {
			grid-column: 1/5;
			grid-row: 3/6;		
		}
		#papago-after-top {
			grid-column: 5/9;
			grid-row: 2/3;
		}
		#papago-after-bottom {
			grid-column: 5/9;
			grid-row: 3/6;	
		}	
		#papago-button-div {
			grid-column: 3/7;
			grid-row: 7/8;
			
			#papago-button {
				height: 75%;
				width: 100%;
				justify-self: center;
				align-self: center;
				border-radius: 0.25em;
				background-color: $brand-color;
				color: white;
				font-size: 1.1em;
			}
		}
		#papago-info {
			grid-column: 1/9;
			grid-row: 8/12;
			font-size: 0.9em;
			color: $darker-border-color;
			p {
				margin-bottom: 0;
			}
		}
	}
	
	footer{
		background-color: $lighter-border-color;
		grid-column: 1/13;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
	
		display: flex;
		justify-content: center;
		margin-top: 1em;
		padding: 1em 0;
		@include link-effect;
	}
}