<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
        	
    
    <wb-module deploy-name="transper">
                        
        
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
                		
        
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
                		
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
                		
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
                        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/test"/>
                        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/target/generated-sources/annotations"/>
                        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/.apt_generated"/>
        <wb-resource deploy-path="/" source-path="/WebContent"/>
                		
        
        <property name="java-output-path" value="target/classes"/>
                        
        
        <property name="context-root" value="/"/>
                	
    
    </wb-module>
        

</project-modules>
